.setting_list{
  position: absolute;
  top:5%;
  right:2%;
  display: inline-flex;
  justify-content: space-between;
width: 10%;
}
.settingButt{
  transition:transform 0.5s ease-in-out; 
}
.settingButt:hover{
  transform: rotate(90deg);
}

.button_list:hover{
color:#ff4d00bd;
}

.button_list{
  color:#272727da;
}
.dropdown {
  position: absolute;
  top: 1rem;
  right: .5rem;
}

.play_button {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 1%;
  padding: 8px;
  left: 12%;

}

.arm_input {
  right: -34px;
  position: absolute;
  bottom: 14px;
  width: 0%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.arm_input.expanded {
  width: 33%;
  opacity: 1;
}
.clearicon 
{
  position: absolute;
  right: 45px;
  bottom: 40px;
  padding: 8px;
  cursor: pointer;
  color: #ff4f46;
  transition: all 0.3s ease-in-out;
}

.record_button {
  position: absolute;
  display: flex;
  right: 10px;
  bottom: 0.9%;
  flex-direction: column;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

.record_button.pressed{
  right:320px;
}
.wifi-symbol {
  display: none;
}
.hidden{
  display: none;
}
.wifi-symbol [foo], .wifi-symbol {
  position: absolute;
  top: -5%;
  display: inline-block;
  right: -98px;
  -ms-transform: rotate(-45deg) translate(-100px);
  -moz-transform: rotate(-45deg) translate(-100px);
  -o-transform: rotate(-45deg) translate(-100px);
  -webkit-transform: rotate(-45deg) translate(-100px);
  transform: rotate(355deg) translate(-100px);
}

.wifi-symbol .wifi-circle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  font-size: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: #00c24a;
  border-style: solid;
  border-width: 1em 1em 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
  opacity: 0;
  -o-animation: wifianimation 2s infinite;
  -moz-animation: wifianimation 2s infinite;
  -webkit-animation: wifianimation 2s infinite;
  animation: wifianimation 2s infinite;
}

.wifi-symbol .wifi-circle.first {
  -o-animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.wifi-symbol .wifi-circle.second {
  width: 5em;
  height: 5em;
  -o-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.wifi-symbol .wifi-circle.third {
  width: 3em;
  height: 3em;
}

.wifi-symbol .wifi-circle.fourth {
  width: 1em;
  height: 1em;
  opacity: 1;
  background-color: #00c24a;
  -o-animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}

@-o-keyframes wifianimation
{
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}

@-moz-keyframes wifianimation
{
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}

@keyframes wifianimation
{
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
